@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    margin: 0;
    font-family: 'Questrial', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
}
#logo {
    position: absolute;
    top: 20px;
    left: 10px;
    height: 40px;
    width: 120px;
}

input[type="text"] {
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    margin-top: 20px;
    transition: border-color 0.3s ease-in-out;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1.2px;
}

input[type="text"]:focus {
    border-bottom-color: rgba(255, 255, 255, 1);
}

option {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-weight: bold;
  }